/*
////////////////////////////////////////////////////////////////////////////////
//								eReleve CSS
////////////////////////////////////////////////////////////////////////////////
*/

@namespace fx "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace s "library://ns.adobe.com/flex/spark";

global {
    modal-transparency-blur: 5;
    modal-transparency-color: #000000;
    modal-transparency: 0.4;
    modal-transparency-duration: 50;
    backgroundGradientColors:#ffffff,#5E81A4;
    
}
/**/
mx|Panel 
{
   borderColor: #a3a7b0;
   borderThicknessLeft: 1;
   borderThicknessTop: 0;
   borderThicknessBottom: 0;
   borderThicknessRight: 1;
   roundedBottomCorners: true;
   cornerRadius: 0;
   headerHeight: 22;
   backgroundAlpha: 1;
   highlightAlphas: 0.4, 0;
   headerColors: #767a83,#bec1c8;
   footerColors: #ffffff, #ffffff;
   backgroundColor: #767676;
   dropShadowEnabled: false;
   shadowDistance: 1;
   shadowDirection: right;
   titleStyleName: "mypanelTitle";
}

.mypanelTitle 
{
   color: black;
}



	


/*Mise en forme du texte pour l'en tête des stations*/
mx|Label.StationEnTete 
{
	fontWeight:"bold";
	fontSize:"19";
	color:#FA0808;
	textAlign:"right";
}

/* Mise en form des label verticaux du DataDisplay */
mx|Label.rotLabel 
{
	
	fontWeight:"bold";
	fontSize:18;
	color:#7dc53b;
	textAlign:"center";
}

/*Mise en forme du texte pour l'en tête des stations*/
mx|Text.StationEnTete 
{
	fontWeight:"normal";
	fontSize:"19";
	color:#FA0808;
	textAlign:"left";
}

/* Mise en forme des radio group des différents filtres*/
mx|RadioButton.FilterRadioGroup
{
	color: #FFFFFF;
	fontSize: 12;
	fontWeight: bold;
}

/* Message de bienvneue utilisateur */
mx|Label.MsgWelcome
{
	color: #afb7a6;
	fontSize: 18;
	fontWeight: bold;
}

/* Filtre sous forme de texte humainement lisible */
mx|Label.MsgFilter
{
	color: #afb7a6;
	fontSize: 12;
	fontWeight: bold;
}


/* Mise en forme des Widgets (mode déplié) */
mx|Canvas.PanelCanvas
{
	backgroundColor: #FFFFFF;
	backgroundAlpha: 1.0;
	backgroundSize: "100%";
	borderColor: #cdced2;
	borderStyle: solid;
	borderThickness: 1;
	cornerRadius: 0;
	paddingLeft:2;
	paddingRight:2;
	paddingBottom:2;
	paddingTop:2;
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* 									       RIBBON 						                                            */
/* ---------------------------------------------------------------------------------------------------------------- */




/* ---------------------------------------------------------------------------------------------------------------- */
/* 									       MANAGER DATAGRID LAYER/FILTER                                            */
/* ---------------------------------------------------------------------------------------------------------------- */

.styleManagerDatagrid
{
	backgroundAlpha: 1;
	headerColors: #cccccc, #e6eeee;
	horizontalGridLines: false;
	horizontalGridLineColor: #999999;
	verticalGridLines: false;
	borderThickness: 0;
	borderColor: #999999;
	borderThickness: 1;
	dropShadowEnabled: false;
	headerStyleName: "mydataGridHeaderStyle";
}

.mydataGridHeaderStyle {
	
	fontWeight: bold;
	fontSize: 12;
	textDecoration: none;
	textAlign: center;
}

.styleMangerLayerName
{
	
	fontWeight: bold;
	fontSize: 10;
}

.styleMangerFilterTxt
{
	
	fontWeight: normal;
}

.styleMangerSources
{
	
	fontWeight: normal;
}

.styleMangerTotalNb
{
	
	fontWeight: bold;
	fontSize: 20;
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* 									       ALL SLIDER CSS 				                                            */
/* ---------------------------------------------------------------------------------------------------------------- */

/* tous les slider horizontaux */
.styleHSlider
{
	dataTipOffset: 0;
	dataTipPrecision: 0;
	dataTipPlacement: left;
	dataTipStyleName: SliderDataTip;
	showTrackHighlight: true;
	thumbOffset: 9;
	thumbDisabledColor:#888888;
	thumbUpColor:#000000;
	borderColor: #ffffff;
	trackColors: #ffffff, #ffffff;
	fillColors: #ffffff, #ffffff, #ffffff;
	thumbSkin:ClassReference("com.ecoReleve.ressources.skin.RibbonSliderSkin.SliderThbSkin");
}

.SliderDataTip 
{
	backgroundAlpha: 1.0;
	backgroundColor: haloBlue;
	color: white;
	cornerRadius: 10;
	fontWeight: bold;
	letterSpacing: 1;
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* 													QUICKINFO PANEL											*/
/* ---------------------------------------------------------------------------------------------------------------- */
.infoName
{
 fontWeight:bold;
 fontSize:14;
}

.infoDate
{
 fontSize:10; 
}

.infoNbObservation
{ 
 fontSize:12;
 textDecoration:underline;
}

.styleTabNav
{	
}

.styleHScrollBarQuickInfo
{
	upArrowSkin: ClassReference(null);
	downArrowSkin: ClassReference(null);
	trackSkin: ClassReference('com.ecoReleve.ressources.skin.HScrollBarSkin.CustomSkinTrack');
	thumbUpSkin: ClassReference('com.ecoReleve.ressources.skin.HScrollBarSkin.CustomSkinThumb');
	thumbOverSkin: ClassReference('com.ecoReleve.ressources.skin.HScrollBarSkin.CustomSkinThumb');
	thumbDownSkin: ClassReference('com.ecoReleve.ressources.skin.HScrollBarSkin.CustomSkinThumb');

}

/* ---------------------------------------------------------------------------------------------------------------- */
/* 													MAP COMPONENT											*/
/* ---------------------------------------------------------------------------------------------------------------- */

.ZoomPanel
{
 backgroundAlpha:1;
 backgroundColor:white;
 borderStyle:solid;
 cornerRadius:0;
 borderColor:#d4d5d9;
}

.OverViewPanel
{
 backgroundAlpha:0.4;
 borderStyle:solid;
 borderColor:#d4d5d9;
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* 													PANEL LEGEND											*/
/* ---------------------------------------------------------------------------------------------------------------- */

/* Label du panel legend */
.labelLegendStyle
{
	
	fontSize:14;
	color:black;
	fontWeight: bold;
	
}
/* Label du panel legend */
.labelLegendRule
{
	
	fontSize:10;
	color:black;
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* 													MSG PANEL											*/
/* ---------------------------------------------------------------------------------------------------------------- */

.MsgPanel
{
	/*backgroundImage: ClassReference("com.ecoReleve.ressources.skin.GradientBackgroundSkin.GradientBackgroundSkin");
	fillColors: #b4c7db, #d5e0eb;
	fillAlphas: 1.0, 1.0;
	backgroundSize: "100%";*/
	borderColor: #d4d5d9;
	backgroundColor:white;
	backgroundAlpha:0.5;
	borderStyle:solid;
	cornerRadius:0;
	roundedBottomCorners:false;
	borderAlpha:1.0;
  	borderThickness:2;
  	dropShadowEnabled: false;
	
}

.MsgLabel
{
	
	fontSize:14;
	color:black;
	fontWeight: bold;
}

.MsgSpin
{
	size:30;
	tickWidth:5;
	numTicks:15;
	tickColor:blue;
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* 													UPdate PANEL											        */
/* ---------------------------------------------------------------------------------------------------------------- */

.UpdatePanel
{
	/*backgroundImage: ClassReference("com.ecoReleve.ressources.skin.GradientBackgroundSkin.GradientBackgroundSkin");
	fillColors: #b4c7db, #d5e0eb;
	fillAlphas: 1.0, 1.0;
	backgroundSize: "100%";*/
	borderColor: #d4d5d9;
	backgroundColor:black;
	backgroundAlpha:0.2;
	borderStyle:solid;
	cornerRadius:0;
	roundedBottomCorners:true;
	borderAlpha:1.0;
  	borderThickness:2;
  	dropShadowEnabled: false;
	
}

.UpdateLabelRelease
{
	
	fontSize:14;
	color:black;
	fontWeight: bold;
}

.UpdateLabelAsk
{
	
	fontSize:12;
	color:black;
}

.UpdateLabelInstall
{
	
	fontSize:14;
	color:black;
	fontWeight: bold;
}

.UpdateLabelError
{
	
	fontSize:14;
	color:black;
	fontWeight: bold;	
}

.UpdateProgressBar
{
   borderColor: #193a5b;
   barColor: #5E81A4;
   trackColors: #ffffff, #ffffff;
   color: #000000;
   paddingLeft: 0;
   paddingRight: 0;
   textIndent: 0;
   verticalGap: 0;
   letterSpacing: 0;
   trackHeight: 10;
   verticalGap: 12;
   fontSize:12;
	
}


/* ---------------------------------------------------------------------------------------------------------------- */
/* 													DATAGRID HIERARCHICAL											*/
/* ---------------------------------------------------------------------------------------------------------------- */
.HierarchicalADG 
{
    defaultLeafIcon:ClassReference(null);
    folderOpenIcon:ClassReference(null);
    folderClosedIcon:ClassReference(null);
    sortFontSize:"12";
    sortFontWeight:"bold";

}
    
.labelHierachicalADG
{
	
	fontSize:10;
	color:black;	
	
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* 													SPINNER 															*/
/* ---------------------------------------------------------------------------------------------------------------- */


/* Mise en forme  du spinner de chargement 
mx|Spinner.DataSpinner
{
	numTicks:25;
	tickWidth:5;
	tickColor:#81b942;
	
}*/


/* ---------------------------------------------------------------------------------------------------------------- */
/* 													TIMELINE 														*/
/* ---------------------------------------------------------------------------------------------------------------- */

mx|HSlider.timeLine
{
	showTrackHighlight: true;
	tickLength: 0;
	trackSkin:ClassReference("mx.skins.ProgrammaticSkin");
	trackHighlightSkin:ClassReference("com.ecoReleve.ressources.skin.timelineSkin.TrackHighLightSkin");
}


/* ---------------------------------------------------------------------------------------------------------------- */
/* 													SEARCH POPUP 													*/
/* ---------------------------------------------------------------------------------------------------------------- */

/* Input Text du composant searchPopup 
searchPopUp
{
	borderSkin:ClassReference("mx.skins.halo.HaloBorder");
	borderColor:#000000;
  	fontSize:15;
  	fontWeight:bold;	
}*/

/* Datagrid du composant searchPopup 
.styleGrdSearchPopUp
{
	borderColor:#000000;
	color: #000000;
	fontWeight: bold;
	headerColors: #00a2bd,#08889f;
	rollOverColor:#00a2bd;
	selectionColor:#08889f;
}*/

/* ---------------------------------------------------------------------------------------------------------------- */
/* 													RESIZABLE CANVAS     											*/
/* ---------------------------------------------------------------------------------------------------------------- */

/* Style des linkButons utiliser pour redimensionner le panel   */
mx|LinkButton.styleLkButton
{
	color:white;
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* 													VERTICAL TABNAVIGATOR											*/
/* ---------------------------------------------------------------------------------------------------------------- */

/* Style du vertical Panel navigator  */
.myTabNavigatorStyle
{
	fillColors:#000000,#666666;
	tabHeight: 30;
   	tabWidth :  110;
   	horizontalGap:20;
	verticalAlign:middle;
	tabBarLocation:left;
	backgroundAlpha:0;
	borderStyle:none;
   	tabStyleName:myTabStyle;
   	firstTabStyleName:myFirstTabStyle;
	selectedTabTextStyleName:selectedtabtext;
}

/* Style du text de l'onglet selectionné */
.selectedtabtext 
{
    fontWeight: bold;            
    fontSize: 12;
    color: #000000;	
}

/* Style des onglets */
.myTabStyle 
{	
	skin:ClassReference("com.ecoReleve.ressources.skin.VerticalTabNavigatorSkin.TabSkin");
	backgroundFillColor: #3f4344;
	backgroundFillOverColor:white;
    fontWeight: bold;            
    fontSize: 12;
    color: white;
    
}

/* Skin du premier onglet
   ==> onglet invisible pour permettre la deselection de tous les onglets
*/
.myFirstTabStyle 
{	
	skin:ClassReference("com.ecoReleve.ressources.skin.VerticalTabNavigatorSkin.FirstTabSkin");
	backgroundFillColor: black;
	backgroundFillAlpha:0;
    fillColor:black;
}

/* Style du Panel  */
.myPanelStyle 
{
	backgroundColor:#cdced2;
	backgroundAlpha:0.4;
	borderThickness:1;
	borderStyle:solid; 
	borderColor:#cdced2; 
	cornerRadius:0;
}

/* Container du contenu du panel   */
.myPanelContent 
{
	paddingLeft:35;
 	paddingTop:35;
  	paddingRight:20;
   	paddingBottom:15;
}


/* Style de la barre de resize du Panel */
.canvasRightEdge
{
	disabledSkin: ClassReference("com.ecoReleve.ressources.skin.VerticalTabNavigatorSkin.CanvasRightEdgeSkin");
	downSkin: ClassReference("com.ecoReleve.ressources.skin.VerticalTabNavigatorSkin.CanvasRightEdgeSkin");
	overSkin: ClassReference("com.ecoReleve.ressources.skin.VerticalTabNavigatorSkin.CanvasRightEdgeSkin");
	upSkin: ClassReference("com.ecoReleve.ressources.skin.VerticalTabNavigatorSkin.CanvasRightEdgeSkin");
	selectedDisabledSkin: ClassReference("com.ecoReleve.ressources.skin.VerticalTabNavigatorSkin.CanvasRightEdgeSkin");
	selectedDownSkin: ClassReference("com.ecoReleve.ressources.skin.VerticalTabNavigatorSkin.CanvasRightEdgeSkin");
	selectedOverSkin: ClassReference("com.ecoReleve.ressources.skin.VerticalTabNavigatorSkin.CanvasRightEdgeSkin");
	selectedUpSkin: ClassReference("com.ecoReleve.ressources.skin.VerticalTabNavigatorSkin.CanvasRightEdgeSkin");
}


/* ---------------------------------------------------------------------------------------------------------------- */
/* 													RESIZABLE CANVAS											*/
/* ---------------------------------------------------------------------------------------------------------------- */

.ResizableCanvasButton
{
	skin:ClassReference("com.ecoReleve.ressources.skin.ResizableCanvasSkin.CanvasBoutonSkin");
	fontFamily: myFont;
	embedFonts:true;
	backgroundFillColor: #3f4344;
	backgroundFillOverColor:white;
    fontWeight: bold;            
    fontSize: 12;
    color: white;
}

.ResizableCanvasRightEdge
{
	disabledSkin: ClassReference("com.ecoReleve.ressources.skin.ResizableCanvasSkin.CanvasRightEdgeSkin");
	downSkin: ClassReference("com.ecoReleve.ressources.skin.ResizableCanvasSkin.CanvasRightEdgeSkin");
	overSkin: ClassReference("com.ecoReleve.ressources.skin.ResizableCanvasSkin.CanvasRightEdgeSkin");
	upSkin: ClassReference("com.ecoReleve.ressources.skin.ResizableCanvasSkin.CanvasRightEdgeSkin");
	selectedDisabledSkin: ClassReference("com.ecoReleve.ressources.skin.ResizableCanvasSkin.CanvasRightEdgeSkin");
	selectedDownSkin: ClassReference("com.ecoReleve.ressources.skin.ResizableCanvasSkin.CanvasRightEdgeSkin");
	selectedOverSkin: ClassReference("com.ecoReleve.ressources.skin.ResizableCanvasSkin.CanvasRightEdgeSkin");
	selectedUpSkin: ClassReference("com.ecoReleve.ressources.skin.ResizableCanvasSkin.CanvasRightEdgeSkin");
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* 													PUT MESSAGE											*/
/* ---------------------------------------------------------------------------------------------------------------- */

.styleImport
{
	color:black;
	fontWeight: bold;            
	fontSize: 14;
}


.styleImportDetail
{
	color:black;
}
